.App {
  overflow-x: hidden;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#movies img, 
#movie img {
  width: 100%;
}


#react-logo {
  color: #00d8ff;
}

#imdb-logo {
  color: #f5de50;
}

#redux-logo {
  color: #af7dff;
}

#star-logo {
  color: #ffe11f;
}

@media (min-width: 960px) {
  #movies .col-md-3 .well {
    height: 390px;
  }
  #movies .col-md-3 img {
    height: 240px;
  }
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}

.news_container {
	margin-bottom: 3rem;
}

.news_container_cards {
	display: flex;
}

.newscard {
	margin: 0 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-width: 15rem;
	padding: 1rem;
	border: .1rem solid #cecece;
	border-radius: .5rem;
}

.newscard_img {
	padding: 1rem 0;
	height: 10rem;
}

.newscard_desc {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 200px;
	height: 2rem;
}

.my-modal .modal-content {
  background-color:#1d1f24;
}